@font-face {
    font-family: 'Roboto-Regular';
    src: url(font/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Lato-Light';
    src: url(font/Lato-Light.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(font/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto-Black';
    src: url(font/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url(font/Roboto-Medium.ttf);
}
/* GENERAL */
body{
	background: #ffffff;
	color: rgba(149, 165, 166,0.8);
	font-size: 22px;
	font-family: 'Roboto-Light';
}
.padding_left_10{
	padding-left: 10px !important;
}
.padding_left_20{
	padding-left: 20px !important;
}
i{
	padding-right: 7px;
}
ul,li{
	list-style-type: none
}

/* HEADER */
#header.has-banner{
	height: 850px;
	margin-bottom: 80px;
	width: 100%;
}
#header.no-banner{
	background: #333 !important;
	height: 100px;
}
.top{
	margin-top: 35px;
}
.link{
	font-size: 17px;
}
.link a{
	color:#ffffff;
}
.webname{
	color: #ffffff;
	font-size: 30px;
	margin-top: -10px;
}
.webname span{
	color: #FF9966;
}
.banner-header{
	margin-top: 400px;
}
.banner-header h1{
	color: #ffffff;
	font-size: 50px;
}
.banner-header .btn {
    background: #99CC33;
    font-size: 21px;
    margin-top: 20px;
    padding: 15px 0;
    width: 300px;
}
/*CONTENT*/
.container {
	color: #444444;
}
.img-round {
border-radius: 15px;
}
.bagia{
	width: 100%;
	height: 400px;
	background: url(../images/Depositphotos_42350669_original.jpg);
	background-size: cover;
	margin-bottom: 50px;
	background-position: center;  
}

#content h1{
	font-size: 50px;
}

.align_left p{
	font-size: 17px;
	margin-top: 10px;
	text-align: justify;
}
.gotchan{
	font-size: 26px;
	height: 380px;
	background-color: rgba(236, 240, 241,0.5);
	margin-top: 80px; 
}
.gotchan img{
	margin-top: 60px;
	margin-bottom: 10px;
}

.app img{
	margin-top:100px;
	margin-bottom: 10px;
}
.app_behind img{
	background-size: cover;
	background-position: center;
    transform: scale(1.5);
    opacity: 0.7;
}
.app_behind{
	margin-bottom: 250px;
}
.app_behind p{
	margin-right: 60px;
	margin-top: 30px;
	line-height: 1.5;
	text-align: left;
}
.remarkable{
	background: url(../images/smartmockups-129.png);
	width: 100%;
	height: 420px;
	background-size: 210%;
	background-position: -350px -200px;
	margin-top: 70px;
}
#app_end{
	margin-left: 5px;
	text-align: justify;
}
.photobook{
	background: url(../images/Image21.png);
	width: 100%;
	height: 1000px;
	background-size: 130%;
	background-position: -140px -250px;
}
.giving{
	background: url(../images/Image15.png) no-repeat;
	transform: scale(1.2);
	height: 820px;
	margin-top: -180px;
	background-position: center;
}
.giving_content{
	margin-top: 140px;
	height: 550px;
	background-color: white;
	text-align: justify;
}
.giving_content h1{
	margin-top: 70px;
}
.book h4 {
	margin-top: 80px;
	color: #95a5a6;
	font-family: 'Roboto-Medium';
}
.book h1 {
	margin-bottom: 70px;
}
.book_content h4 {
	margin-bottom: 10px;
	color: #444444;
	font-family: 'Roboto-Light';
}
.book_content p {
	font-size: 14px;
	margin-bottom: 50px;
	text-align: center;
}
.photolauch {
	background: url(../images/Depositphotos_90463484_original.jpg);
	width: 100%;
	height: 800px;
	background-size: cover;
}
.launch {
	background-color: #ecf0f1;
	height: 400px;
}
.launch_content {
	margin-top: -70px;
	background-color: white;
	border: 2px white;
	height: 400px;
	border-radius: 10px;
}
.launch_content h3 {
	margin-top: 60px;
	font-family: 'Roboto-Medium';  
}
.launch_content h1 {
	font-family: 'Roboto-Regular'; 
}
.launch_content p {
	font-family: 'Roboto-Medium'; 
}
form.form_access{
	width: 90%;
	margin: 0 auto;
}
.form_padding{
	height: 50px !important;
}
.form_send {
	margin-bottom: 80px;
}
.bacgound_no_login{
	background-color: rgba(249, 249, 249, 0.2);
	margin-bottom: 50px;
	padding: 0px;
	border: 1px solid rgba(189, 195, 199,0.4);
}
.bacgound_no_login span{
	margin-left: 50px;
}
.back{
	border-bottom: 1px solid rgba(189, 195, 199,0.4);
	height: 60px;
}
.back i{
	margin-left: 20px;
	margin-top:18px; 
}
.back p{
	font-family: 'Roboto-Regular';
}
.walking{
	margin-left: 40px;
	margin-top: 50px;
	font-family: 'Roboto-Regular';
}
.walking p{
	font-size: 16px;
	font-family: 'Roboto-Light';
	margin-top: 30px;
	margin-bottom: 40px;
}
.walking ul>li>a{
	font-size: 15px;
	color: #5a5050;
}
.img_right img{
	margin-top:10px; 
	margin-bottom: 20px;
	transform: scale(1.2);
}
.select_content {
	margin: 30px;
}
.button_end {
	margin-top: 40px;
	margin-left: 40px;
	margin-bottom: 60px;
}
.button_end a{
	margin-right: 18px;
	width: 200px;
	height: 60px;
	font-size: 22px;
}
/*FOOTER*/
#footer{
    background: #444444;
    height: 180px;
}
#footer li{
	display: inline-block;
	padding-left: 50px;
	font-size: 17px;
	color: #ffffff;
}
#footer li>a{
	color: #ffffff;
}
#footer li>a>i {
    font-size: 25px;
    margin-left: -45px;
}
#footer .top::after{
	border: 20px;
}
.copyright{
    margin-top: 35px;
    font-size: 14px;
}
.border{
	border-bottom: 1px solid rgba(189, 195, 199,0.4);
	margin-top: 30px;
	width: 98%;
