@font-face {
    font-family: 'Lato-Regular';
    src: url(font/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato-Bold';
    src: url(font/Lato-Bold.ttf);
}

@font-face {
    font-family: 'Lato-Italic';
    src: url(font/Lato-Italic.ttf);
}

/* GENERAL */
body{
	background: #ffffff;
	color: rgba(149, 165, 166,0.8);
	font-size: 22px;
	font-family: 'Lato-Regular';
}
.padding_left_10{
	padding-left: 10px !important;
}
.padding_left_20{
	padding-left: 20px !important;
}
i{
	padding-right: 7px;
}

/* HEADER */
#header.has-banner{
	height: 850px;
	margin-bottom: 80px;
	width: 100%;
}
#header .top{
	margin-top: 35px;
}
.link{
	font-size: 17px;
}
.link a{
	color:#ffffff;
}
.webname{
	color: #ffffff;
	font-size: 30px;
	margin-top: -10px;
}
.webname span{
	color: #FF9966;
}
.banner-header{
	margin-top: 400px;
}
.banner-header h1{
	color: #ffffff;
	font-size: 50px;
}
.banner-header .btn {
    background: #99CC33;
    font-size: 21px;
    margin-top: 20px;
    padding: 15px 0;
    width: 300px;
}

/*FOOTER*/
#footer{
    background: #444444;
    height: 180px;
}